<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ricky.chen.bcit.ca.cameraapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Enlarge.EnlargeActivity" />
        <activity android:name=".Filter.FilterActivity" />
        <activity
            android:name=".Filter.FilterDateActivity"
            android:label="@string/title_activity_filter_date"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Filter.FilterLocationActivity"
            android:label="@string/title_activity_filter_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Filter.FilterTextActivity"
            android:label="@string/title_activity_filter_text"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Filter.Result.ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Upload.UploadActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tagging.TaggingActivity"
            android:label="@string/title_activity_tagging"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>